.p_1:not(:last-child){
    margin-bottom: 20px;
}


.menu ul li a.menu_contato{
    color: #f48c2b;
}

.menu ul li a.menu_inicio{
    color: #242321;
}

.form-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.form-group {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

select, input, textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

textarea {
    height: 150px;
    resize: none;
}

.form-group-button {
    display: flex;
    justify-content: flex-end;
}

button {
    background: #6c63ff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background: #5750e3;
}

.login-warn{
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
    color: #000000;
    opacity: 70%;
}

.login-warn a{
    color:#ff8717;
    transition: all 0.3s ease;
    
}

.login-warn a:hover{
    color: #964c07;
}