.menu ul li a.menu_categorias{
    color: #f48c2b;
}

.menu ul li a.menu_inicio{
    color: #242321;
}

.p_1{
    top: 50px;
}

.p_last{
    margin-bottom: 50px;
}

.capa{
    margin: 0 auto;
    width: 980px;
    height: 300px;
    overflow: hidden;
}