.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem;
}

.recipe-details {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;
}


.recipe-image {
    flex: 1 1 300px; 
    text-align: center;
}

.recipe-image img {
    max-width: 100%;
    max-width: 300px; 
    border-radius: 8px;
    object-fit: cover;
}


.recipe-text {
    flex: 2 1 400px;
    text-align: left;
    align-self: flex-start; 
    margin-top: -10px; 
}

.recipe-text h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333;
}

.recipe-text p {
    font-size: 1rem;
    margin-bottom: 0.75rem;
    color: #555;
}

.recipe-text p strong {
    color: #222;
}

@media (max-width: 768px) {
    .recipe-details {
        flex-direction: column;
        text-align: center;
    }
    .recipe-text {
        text-align: center;
    }
}

.menu ul li a.menu_tot_receitas{
    color: #f48c2b;
}

.menu ul li a.menu_inicio{
    color: #242321;
}

.save-recipe-form {
    align-self: flex-start;
}

.btn-salvar-receita {
    display: block;
    margin: 1rem auto 0;
    padding: 0.5rem 3rem;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    
}

.btn-salvar-receita:hover {
    background-color: #367c3a;
}

.btn-receita-salva {
    display: block;
    margin: 1rem auto 0;
    padding: 0.5rem 3rem;
    background-color: #808080;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}


.btn-receita-salva.hover-excluir {
    background-color: red;
    color: white;
}

.recipe-text ul {
    list-style: none;
    padding-left: 1em;
}

.recipe-text ul li::before {
    content: "-";
    margin-right: 0.5em;
}
