@font-face {
    font-family: 'NewAmsterdam-Regular';
    src: url(Fontes/NewAmsterdam-Regular.ttf);
}

.header_3 {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    top: 30px;
}

.categorias {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    position: relative;
}

.l_categorias {
    text-transform: uppercase;
    color:  #5a5a5a;
    text-decoration: none;
    cursor: pointer;
    display: block;
    padding: 10px;
    border: 2px solid #e4cbb4;
    margin-bottom: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.6s ease;
}

.l_categorias:hover {
    color: #f48c2b;
    border-color: #f48c2b;
}

.menu ul li a.menu_categorias{
    color: #f48c2b;
}

.menu ul li a.menu_inicio{
    color: #242321;
}

.maior_acesso {
    text-align: left;
}

.maior_acesso ul {
    margin: 0;
}

.maior_acesso ul li:not(:last-child){
    margin-bottom: 10px;
}

.header_categorias{
    padding-top: 40px;
    padding-bottom: 50px;
}

.search-container {
    width: 100%;
    margin: 0 auto 20px auto;
    position: relative;
    margin-bottom: 50px;
    margin-top: -40px;
}

.search-container ::placeholder{
    opacity: 50%; 
    color: #2e2e2e
}

#search {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #E6E6E6;
    border-radius: 5px;
    box-sizing: border-box;
    transition: all 0.3s ease;
}

#search:focus {
    border-color: #f48c2b;
    outline: none;
}


